@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #bfbde0, rgb(184, 184, 223)
    );
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black ;
}

h1{
    color: rgb(109, 109, 230);
    text-align: center;
}

h2{
    color: rgb(42, 42, 252);
}

p{
    text-align: justify;
}